<h1>Post Show Page</h1>

<ul>
  <li>
    Title: <%= @post.title %>
  </li>
  <li>
    URL: <%= @post.url %>
  </li>
  <li>
    Content: <%= @post.content %>
  </li>
</ul>

<form class="" action="<%= edit_post_url %>" method="get">
  <%= auth_token %>
  <input type="submit"  value="Edit Post">
</form>